html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 201, 254);
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}
.scroll_blocked {
    overflow: hidden;
}
header, .buttons {
    display: flex;
    width: 50vw;
    margin: 0 auto;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}
.btn {
    width: 10.6vw;
    background: rgb(173,23,238);
    background: linear-gradient(157deg, rgba(173,23,238,1) 5%, rgba(237,224,245,1) 73%);
    box-shadow: 2px 4px 12px rgba(134, 64, 169, 67%);
    border-radius: 19px;
    font-size: 2vw;
    padding: 15px 20px;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(6, 1, 1), 0 0 1em blue, 0 0 0.2em blue;
    transition: all 600ms ease;
    text-align: center;
}
.btn:hover {
    transition: all 600ms ease;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.3);
}
.timer {
    width: 10.6vw;
    background: #fcfcfc;
    border: 1px solid silver;
    border-radius: 19px;
    padding: 15px 20px;
    margin-top: 15px;
    font-size: 2vw;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.timer>div {
    margin-right: 5px;
}
.timer>div>span {
    color:rgb(134, 64, 169);
    font-size: 15px;
}
.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50vw;
}
.timer {
    display: flex;
}
.playing_field {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6vw;
    top: 200px;
    left: 25vw;
    position: absolute;
}
.cell {
    width: 5vw;
    height: 5vw;
    background-color: rgb(255, 240, 223);
    font-size: 5vw;
    text-align: center;
    box-shadow: 0 0 8px #000000;
    border-radius: 3px;
    text-shadow: rgb(217, 0, 255) 1px 0 10px;
    line-height: 5vw;
}
.cell>img {
    width: 5vw;
}
.hiding_field {
    top: 200px;
    left: 25vw;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6vw;
    position: absolute;
}
.hiding_cell {
    width: 5vw;
    height: 5vw;
    background-color: rgb(134, 64, 169);
    border-radius: 3px;
}
.hiding_cell:hover {
    cursor: pointer;
}
.modal_bg {
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    position: absolute;
    top: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width:50vw;
    height: 80vh;
    margin-top: 100px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 19px 19px 19px 19px;
    padding: 30px;
}
.modal>p {
    font-family: Georgia;
    font-size: 1.5vw;
    
}
.modal>div {
    color: rgb(6, 1, 1);
    font-size: 1.5vw;
    font-weight: 400;
}
.modal>.looser,  .modal>.winner {
    color: rgb(0 0 0);
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}
.modal>h3>span {
    color:rgb(134, 64, 169);
}
.color {
    color:rgb(134, 64, 169);
    font-size: 2vw;
    font-weight: bold;
}
.hide {
    display: none;
}
.footer {
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.logo>a>img, .github_link>img {
    filter: invert(42%) sepia(93%) saturate(62%) hue-rotate(87deg) brightness(100%) contrast(119%);
}
.logo, .gh {
    transition-duration: 0.3s;
}
.logo:hover, .gh:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.logo:active, .gh:active {
    transform: scale(1.3);
    cursor: pointer;
}
.year {
    color: rgba(76, 110, 99, 0.796);
}