@media (max-width: 1279px){
    body {
        width: 100%;
    }}
@media (max-width: 1164px) and (min-width: 768px) {
    body {
        width: 100%;
    }
    .upper_container {
        padding: 30px 30px 0;
        height: auto;
    }

    .not_only {
        flex-direction: column;
        padding: 60px 55px 0;
        justify-content: center;
        
    }
    .not_only_text_content {
        padding: 0 69px;
        min-height: 322px;
        text-align: center;
    }
    .not_only_button {
       margin: 43px auto 100px; 
      
    }
    .not_only_img_content {
        text-align: end;
        width: 569px;
        margin-bottom: -5px;
    }
    .not_only_img_content img{
        width: 100%;
        position: relative;
        top: -1px;
        left: 85px;
    }
    .about {
        flex-direction: column-reverse;
        align-items: center;
        padding: 80px 169px 77px;
    }
    .about .about_text_content {
        padding: 0 0 80px 0;
        width: 430px;
    }
    .about .img {
        padding-bottom: 20px;
    }
    .our_friends{
        padding-bottom: 0;
        padding-top: 80px;
    }
    .slider {
        padding: 53px 28px 0;;
        flex-wrap: nowrap;
    }
    .arrow_next {
        margin-right: 5px;
    }
    .card {
        margin: 3px 15px 30px;
    }
    .katrine {
        position: relative;
        left: -7px;
    }
    .light_button {
        margin-top: 1px;
    }
    .our_friends_button {
        margin: 29px 1px 100px 1px;
    }
    .woody {
        display: none;
    }
    .help_ul {
        justify-content: space-between;
        padding: 60px 37px 40px;
    }
    .help_ul li {
        width: 170px;
        padding: 0px 30px 51px;
    }
    .in_addition {
        flex-direction: column-reverse;
        padding: 80px 194px 95px 194px
    }
    .in_addition_dog {
        padding-right: 0;
        padding-top: 0;
        margin-top: 60px;
        width: 505px;
        align-self: center;
    }
    .footer {
        height: 625px;
        flex-wrap: wrap;
        padding: 14px 64px 0;
    }
    .footer ul>li {
        padding-top: 30px;
    }
    .location { 
        padding-right: 8px;
    }
    .footer_dog {
        padding-top: 58px;
        margin: 0 auto;
    }
}
@media (max-width: 1164px) and (min-width: 995px) {
    .footer {
        height: 310px;
        background-image: url(./img/footer-gradient-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 40px 40px 0 40px;
    }
    .location { 
        margin-left: 11px;
    }
    
    .footer_dog {
        padding-top: 0;
        
    }
}
@media (max-width: 767px) and (min-width: 320px){
    .nav_ul {
        display: none;
    }
    .h3 {
        font-size: 25px;
        font-weight: 400;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #545454;
    }  
    .header {
        padding: 0 10px;
    }
    .upper_container {
        padding: 30px 10px 0;
        height: auto;
    }
    .nav {
        background-image: url(./img/Burger.png);
        width: 30px;
        height: 22px;
        margin-top: 19px;
    }
    .not_only {

        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }
    .not_only_text_content {
        padding-top: 60px;
        padding-right: 0;
        min-height: 322px;
        text-align: center;
    }
    .not_only_text_content h2 {
        font-size: 25px;
        font-weight: 400;
        line-height: 32.5px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .not_only_text_content .text {
        text-align: center;
    }
    .not_only_img_content {
        padding-top: 82px;
        width: 260px;
        margin-bottom: -5px;
        padding-left: 40px;
    }
    .not_only_img_content img{
        width: 100%;
    }




    .about {
        flex-direction: column-reverse;
        align-items: center;
        padding: 28px 10px 38px;
    }
    .about .about_text_content {
        width: 270px;
        padding: 14px 15px;
        text-align: justify;
    }
    .about_text_content h3 {
        text-align: center;
    }
    .about_text{
        text-align: justify;
    }
    .about_text_subtitle_below {
        padding-top: 3px;
    }
    .img {
        width: 260px;
        padding-top: 28px;
    }
    .img img {
        width: 100%;
    }

    .our_friends{
        padding-top: 42px;
        padding-bottom: 43px;
    }
    .slider {
        position: relative;
    }
    .arrow_prev {
        position: absolute;
        bottom: 4px;
        left: 67px;
    }
    .card {
        margin: -17px 3px 25px;
    }
    .arrow_next{
        padding-left: 133px;
    }
    .next, .prev {
        padding: 20px 17px;
    }
    .our_friends_button {
        margin-top: 15px;
    }
    .jennifer, .woody {
        display: none;
    }


    .help {
        padding-top: 41px;
    }
    .help_ul {
        justify-content: space-between;
        padding: 27px 0 27px;
    }
    .help_ul li {
        width: 130px;
        padding: 14px 15px 11px;
    }
    .help_ul li img {
        height: 50px; 
    }
    .help_ul h4 {
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;
        padding-top: 20px;
    }


    .in_addition {
        flex-direction: column-reverse;
        padding: 42px 20px;
    }
    .in_addition_text_info h3 {
        text-align: center;
    }
    .credit_card {
        width: 281px;
        padding: 11px 0px;
    }
    .card_img {
        padding-left: 14px;
    }
    .card_text {
        font-size: 15px;
        line-height: 16.5px;
    }
    .in_addition_dog {
        width: 260px;
        align-self: center;
        padding-right: 0;
        padding-top: 0;
    }
    .subheading {
        line-height: 24px;
        letter-spacing: 0.009em;
    }
    .legal_info {
        text-align: justify;
    }
    .in_addition_text_info {
        padding-bottom: 37px;
    }
    .in_addition_dog img {
        width: 100%;
    }


    .footer {
        height: 796px;
        flex-wrap: wrap;
        padding: 13px 0 0;
    }
    .footer h3 {
        text-align: center;
        margin-left: 3px;
    }
    .footer h3 br {
        display: none;
    }
    .contacts {
        padding: 0 34px 0;
    }
    .location h3 {
        padding: 43px 34px 5px;
    }
    .footer .location_ul {
        padding: 6px 0 3px 15px;
    }
    .footer_dog {
        padding-top: 41px;
        margin: 0 auto;
    }
    .footer_dog img {
        width: 260px;
    }
}