body {
    margin: 0 auto;
    width: 1280px;
}
.upper_container {
    min-height: 908px;
    background-image: url(./img/start-screen-gradient-background.jpg), url(./img/start-screen-background.jpg);
    padding: 30px 40px 0;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    justify-content: space-between;
}
.title h1 {
    margin: 0;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
}    
.subtitle {
    padding-top: 10px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    text-align: left;
    color:#F1CDB3;
}
.nav_ul {
    display: flex;
}
.nav_ul li {
    list-style-type: none;
    padding-left: 35px;
}
.nav_ul a {
    text-decoration: none;
    color: #CDCDCD;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial;
    line-height: 24px;
    text-align: left;
}
.nav_ul li a:hover{
    color: #FAFAFA;
} 
li>.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}
.not_only {
    display: flex;
    padding-top: 90px;
}
.not_only_text_content {
    padding-top: 163px;
    padding-right: 42px;
    min-height: 322px;
}
.not_only_text_content h2 {
    margin: 0;
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
    color: #FFFFFF;
}
.not_only_text_content .text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #CDCDCD;
    padding-top: 42px;
}
.not_only_button {
    display: inline-block;
    text-decoration: none;
    
    background-color: #F1CDB3;
    margin-top: 42px;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
}
.not_only_button span {
    width: Hug (187px)px;
height: Hug (52px)px;
padding: 15px 45px 15px 45px;
gap: 10px;
border-radius: 100px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;

}
.about{
    padding: 80px 215px 100px;
    display:flex;
    justify-content: center;
    background-color:#FFFFFF;
}
.about .about_text_content {
    padding: 14px 0 14px 120px;
    width: 430px;
}
.about_text_content h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.about_text {
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.our_friends{
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
.our_friends h3 {
    margin: 0;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}
.slider {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.card {
    background-color: #FAFAFA;
    text-align: center;
}
.card h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}
.light_button{
    display: inline-block;
    text-decoration: none;
    
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    border-radius: 100px;
    border: 2px solid #F1CDB3
}
.light_button span {
padding: 15px 45px 15px 45px;
}
.arrow_prev, .arrow_next {
    display: flex;
    align-items: center;
    
}
.prev, .next {
    padding: 23px 19px;
    border: 2px solid #F1CDB3;
    border-radius: 100%;
}
.help h3{
    margin: 0;
    padding-top: 80px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;

}
.help_ul {
    margin: 0;
    padding: 60px 67px 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.help_ul li {
    list-style-type: none;
    padding: 0 60px 55px;
    text-align: center;
}
.help_ul h4 {
    margin: 0;
    padding-top: 30px;
    font-family: Georgia;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}
.in_addition  {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 80px 182px 100px 183px
}
.in_addition_dog {
    padding-right: 30px;
}
.in_addition_text_info {
    
}
.in_addition_text_info h3 {
    margin: 0;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.subheading {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.credit_card {
    width: 318px;
    display: flex;
    align-items: center;
padding: 10px 15px 10px 15px;
gap: 10px;
border-radius: 9px;
opacity: 0px;
background-color: #F1CDB3;   
}
.card_img {
    position: relative;
    top: 3px;
}
.card_text {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.legal_info {
    padding-top: 20px;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #B2B2B2;
}
.footer {
    background-image: url(./img/footer-gradient-background.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    padding: 40px 40px 0 40px;
}
.footer h3 {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 2px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;
}
.footer ul{
    padding: 0;
}
.footer ul>li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 32px;

}

.footer_icon {
    padding-right: 20px;
}
.footer_phone {
    position: relative;
    top: 14px;
}
.footer ul>li a {
    text-decoration: none;
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
text-align: left;
color: #F1CDB3;
}